<div>
    <div class="align-content-start">
        <div class = "bg-light rounded-3 p-2">
{#            <div class="row">#}
                {% with 'P C 1B 2B 3B SS LF CF RF EH DH' as position_list %}
                    {% for position in position_list.split %}
                        <span class="position-status fw-bold small px-1" id="position-status-{{ position }}">{{ position }}</span>
                    {% endfor %}
                {% endwith %}
{#            </div>#}
        </div>
    </div>
    <form method="post" action="{% url 'teamsnap_submit_lineup' team_id=team_id event_id=event_id%}">
        {{ formset.management_form }}
        {% csrf_token %}

        <h4 class="border-bottom">Lineup</h4>
        {% include 'teamsnap/lineup/widgets/lineup_table.html' with formset=formset_lineup table_id="players-lineup" %}
        <input class="btn btn-success" type="submit" value="Submit">

        <h4 class="border-bottom">Bench</h4>
        {% include 'teamsnap/lineup/widgets/lineup_table.html' with formset=formset_bench table_id="players-bench" %}

        <h4 class="border-bottom">Out</h4>
        {% include 'teamsnap/lineup/widgets/lineup_table.html' with formset=formset_out table_id="players-out" %}

    </form>
</div>