{% extends "base.html" %}{% load static %}
{% block title %} {{ title }}{% endblock %}
{% block page_heading %}TeamSnap Info{% endblock %}
{% block content %}
    <h6>Currently Logged in as</h6>
    <p><b>BenchCoach: </b>{{ user }} ({{ user.email }})</p>
    <p><b>TeamSnap: </b>{{ teamsnap_user.email }}</p>
    <p><b>TeamSnap Managed Team: </b>{{ teamsnap_team.name }}</p>

    {% include 'messages.html' %}

        <ul class="list-group">
    {% for obj_name, obj_data in teamsnap_objects.items %}
        <li class="list-group-item">
            <span class="fw-bold">{{ obj_name }}:</span> {{ obj_data.object_count }} objects
            <a class="btn btn-primary btn-sm" href="{% url 'update' object_name=obj_name %}" role="button">
                <i class="bi bi-arrow-clockwise"></i>
                TeamSnap.com
            </a>
            <a class="btn btn-primary btn-sm" href="{% url 'send' object_name=obj_name %}" role="button">
                <i class="bi bi-arrow-clockwise"></i>
                BenchCoach
            </a>
        </li>
    {% endfor %}
        </ul>


{% endblock %}