{% extends "base.html" %}
{% block title %} {{ title }}{% endblock %}
{% block page_heading %}TeamSnap Info{% endblock %}
{% block content %}
    <h6>Currently Logged in as</h6>
    <p><b>BenchCoach: </b>{{ user }} ({{ user.email }})</p>
    <p><b>TeamSnap: </b>{{ teamsnap_user.email }}</p>
    <p><b>TeamSnap Managed Team: </b>{{ teamsnap_team.name }}</p>

    <button type="button" class="btn btn-primary m-1" onclick="sync_teamsnapdb_with_teamsnapapi()">
        Sync TeamSnapDB with TeamSnap.com
        <div id="teamsnap-sync-spinner" class="spinner-border spinner-border-sm d-none" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </button>
    <button type="button" class="btn btn-primary m-1" onclick="sync_teamsnapdb_to_benchcoachdb()">
        Sync BenchCoachDB with TeamSnapDB
        <div id="benchcoach-sync-spinner" class="spinner-border spinner-border-sm d-none" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </button>
    {% include 'messages.html' %}
    <div id="message-area"> </div>
    <script>

        function sync_teamsnapdb_with_teamsnapapi(){
            const progress_spinner = document.getElementById("teamsnap-sync-spinner")
            const Http = new XMLHttpRequest();
            const url='{% url 'sync with teamsnapapi' %}';
            progress_spinner.classList.remove("d-none");
            fetch(url)
                .then((response) => {
                    progress_spinner.classList.add("d-none")
                    return response.json();
                })
                .then((myJson) => {
                    console.log(myJson)
                    message_area.innerHTML = myJson.msg
                });
        }

        function sync_teamsnapdb_to_benchcoachdb(){
            console.log('hello')
            const progress_spinner = document.getElementById("benchcoach-sync-spinner")
            const Http = new XMLHttpRequest();
            const url='{% url 'sync benchcoach' %}';
            console.log(url)
            progress_spinner.classList.remove("d-none");
            fetch(url)
                .then((response) => {
                    progress_spinner.classList.add("d-none")
                    return response.json();
                })
                .then((myJson) => {
                    console.log(myJson)
                    message_area.innerHTML = myJson.msg
                });
        }

        function clear_output_box(){
            progress_spinner.classList.add('d-none')
        }

    </script>

{% endblock %}