{% extends 'base.html' %}{% block title %} {{ title }} {% endblock %}{% load crispy_forms_tags %}

{% block content %}
    <h1>{{ title }}</h1>
    {{ event.away_team.name }} vs. {{ event.home_team.name }} <br>
    {{ event.start|date:"l, F j, Y g:i A" }} <br>
    {{ event.venue.name }} <br>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
            <h5>Lineup</h5>
{#                <ul class="list-group">#}
            <form action="{%  url 'edit lineup' event_id=event.id%}" method="post">

{#                {% csrf_token %}#}
{#                    {{ positionings_formset.management_form }}#}
{#                    {% for pos in positionings_formset %}#}
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Player</th>
                        <th scope="col">Position</th>
                    </tr>
                    </thead>
                    {% for player in positionings_players_initial|dictsort:"positioning.order" %}
                        {% if player.positioning  %}
                        <tr data-player-id="{{ player.id }}",
                            data-positioning-position="{{ player.positioning.position }}"
                        >
{#                            <th scope="row">{{ form.order }}</th>#}
{#                            <td>{{ form.player }}</td>#}
{#                            <td>{{ form.position }}</td>#}
                            <th scope="row">{% if player.positioning.order %}{{ player.positioning.order }}{% endif %}</th>
                            <th>{{ player.first_name }} {{ player.last_name }}</th>
                            <td>{{ player.positioning.position }}</td>

                        </tr>
                        {% endif %}
                    {% endfor %}
                </table>
{#                    {% endfor %}#}
                <input type="submit" value="Submit">
            </form>
            </div>

            <div class="col-md-6">
                <h5>Players</h5>
            <div class="col-md-6">
                <table class="table">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Name</th>
                        <th scope="col">#</th>
                        <th scope="col">Avg</th>
                        <th scope="col">Slug</th>
                        <th scope="col">OBP</th>
                    </tr>

                    {% for player in players %}
                        {% if not player.positioning  %}
                        <tr>
                        <td>
                            {% if player.availability.available == 2 %}
                        <img class="bg-success p-2 rounded-circle" width="5" height="5"><span class="visually-hidden">Yes</span></img>
                        {% elif player.availability.available == 1%}
                        <img class="bg-info p-2 rounded-circle" width="5" height="5"><span class="visually-hidden">Maybe</span></span>
                        {% elif player.availability.available == 0%}
                        <img class="bg-danger p-2 rounded-circle" width="5" height="5"><span class="visually-hidden">No</span></span>
                        {% elif player.availability.available == -1%}
                        <img class="bg-secondary p-2 rounded-circle" width="5" height="5"><span class="visually-hidden">Unknown</span></span>
                        {% endif %}
                        </td>
                            <th><span class="d-none d-md-block">{{ player.first_name }}</span> {{ player.last_name }}</th>
                            <td>{{ player.jersey_number }}</td>
                            <td><code>{{ player.statline.batting_avg|stringformat:".3f"|slice:"1:" }}</code></td>
                            <td><code>{{ player.statline.slugging_pct|stringformat:".3f"|slice:"1:" }}</code></td>
                            <td><code>{{ player.statline.onbase_pct|stringformat:".3f"|slice:"1:" }}</code></td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </table >
            </div>
        </div>
    </div>

{% endblock %}