<tr data-player-id="{{ form.instance.player.id }}"
    data-position="{{ form.instance.position }}"
    data-order="{{ form.instance.order }}">
    {{ form.id.as_hidden }}
    {{ form.event.as_hidden }}
    {{ form.order.as_hidden }}
    {{ form.player.as_hidden }}
    <td id="player-availability-{{ form.instance.player.id }}"
        style="display:{{ available_display }};"
    >
        {% if form.availability.available == 2 %}
            <img class="bg-success p-2 rounded-circle"
                 width="5"
                 height="5"
                 id="player-available-{{ form.instance.player.id }}"
            >
            <span class="visually-hidden">Yes</span>
        {% elif form.availability.available == 1%}
            <img class="bg-info p-2 rounded-circle"
                 width="5"
                 height="5"
                 id="player-available-{{ form.instance.player.id }}"
            >
            <span class="visually-hidden">Maybe</span>
        {% elif form.availability.available == 0%}
            <img class="bg-danger p-2 rounded-circle"
                 width="5" height="5"
                 id="player-available-{{ form.instance.player.id }}"
            >
            <span class="visually-hidden">No</span>
        {% elif form.availability.available == -1%}
            <img class="bg-secondary p-2 rounded-circle"
                 width="5"
                 height="5"
                 id="player-available-{{ form.instance.player.id }}"
            >
            <span class="visually-hidden">Unknown</span>
        {% endif %}
    </td>
    <th scope="row"
        id="player-order-{{ form.instance.player.id }}"
        style="display:{{ order_display }};">
        {% if form.order.value %}
            <button type="button"
                    class="btn btn-light"
                    id="player-order-button-{{ form.instance.player.id }}"
                    onclick="toggle_in_lineup(this)"
            >
                {{ form.order.value }}
            </button>
        {% elif  form.order.value == 0 %}
            <button type="button"
                    class="btn btn-dark"
                    id="player-order-button-{{ form.instance.player.id }}"
                    onclick="toggle_in_lineup(this)"
            >
                D
            </button>
        {% endif %}
    </th>
    <th>
        {{ form.instance.player.first_name }}&nbsp;{{ form.instance.player.last_name }}&nbsp;
        <small class="text-muted fw-light">#{{ form.instance.player.jersey_number }}</small><br>
        <code><small>{{ form.statline }}</small></code>
    </th>
    <td>
        {{ form.position }}
    </td>
    {#                                    <td>{{ form.instance.position }}</td>#}
</tr>