{% extends 'benchcoach/detail.html' %}

{% block navbar %}
    {% with events_tab="active" %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block page_heading %}
    Event
{% endblock %}

{% block rows %}
    <tr><th>Date</th><td>{{ event.start.date|date }}</td></tr>
    <tr><th>Time</th><td>{{ event.start.time|time }}</td></tr>
    <tr><th>Away</th><td>{{ event.away_team.name }}</td></tr>
    <tr><th>Home</th><td>{{ event.home_team.name }}</td></tr>
    <tr><th>Venue</th><td>{{ event.venue }}</td></tr>
{% endblock %}