<!DOCTYPE html>
<html lang="en"> {% load static %}

<head>
    <title>{% block title %}Title{% endblock %}</title>
    {% include 'base_layout.html' %}
</head>



<body class="bg-light">
<header class="min-vw-100">
    <div>
        {% block navbar %}
            {% include 'navbar.html' %}
        {% endblock %}
    </div>
    <div>
        {% block header %}
        {% endblock %}
    </div>
</header>

<div class="d-inline-flex min-vw-100">
    <div class="">
        {% block sidebar %}
            {% include 'sidebar.html' %}
        {% endblock %}
    </div>
    <div class="container m-2">
        <h1>{% block page_heading %}{% endblock %}</h1>
        {% block content %}{% endblock %}
    </div>
    </div></div>

</body>
</html>