<!DOCTYPE html>
<html lang="en"> {% load static %}

<head>
    <title>{% block title %}Title{% endblock %}</title>
    {% include 'head.html' %}
</head>

<body class="bg-light">
<header class="min-vw-100">
    <div>
        {% block navbar %}
            {% include 'navbar.html' %}
        {% endblock %}
    </div>

</header>

<main class="container-sm bg-white rounded-3 shadow-sm my-2">
    <div class="p-2">
        <h2 class="m border-bottom">{% block page_heading %}{% endblock %}</h2>
        <h6 class="m text-muted">{% block page_subheading %}{% endblock %}</h6>
        {% block header %}
        {% endblock %}
        {% block content %}{% endblock %}
    </div>
</main>
