<!DOCTYPE html>
<html lang="en"> {% load static %}

<head>
    <title>{% block title %}Title{% endblock %}</title>
    {% include 'base_layout.html' %}
</head>



<body class="bg-light">

<div>
{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}
</div>
<div>
{% block header %}
{% endblock %}
</div>

<div class="row flex-row flex-nowrap">
    <div class="col-auto">
        {% block sidebar %}
        {% endblock %}
    </div>
    <div class="container my-2 col-sm min-vh-100">
        <h1>{% block page_heading %}{% endblock %}</h1>
        {% block content %}{% endblock %}
    </div>
    </div></div>

</body>
</html>