{% extends "base.html" %}
{% block title %} {{ title }}{% endblock %}

{% block content %}

<h1>{{ title }}</h1>
<ol class="list-group">
{% for item in items %}
    <li class="list-group-item">
        <span class="fs-5 fw-bold">{{ item.title }}</span>
        <span class="fs-6">{{ item.subtitle }}</span>
        {% if item.body %}
            <br><span class="fs-6">{{ item.body }}</span>
        {% endif %}
        <br>
        {% for button in item.buttons %}
            <a class="btn btn-primary btn-sm" href="{{ button.href }}" role="button">{{ button.label }}</a>
            {% endfor %}
    </li>
{% endfor %}
</ol>
{% endblock %}