{% load static %}
<nav class="navbar navbar-dark navbar-expand-md py-0" style="background: #323669;">
    <a class="navbar-brand d-flex text-uppercase fw-bold m-1 mx-2 text-dark" href="{% url 'home' %}">
        <img class="d-inline-block" width="32" height="32" src="{% static 'benchcoach.svg' %}" />
        <span class="d-none d-print-inline-block d-sm-inline-block d-md-inline-block d-lg-inline-block d-xl-inline-block d-xxl-inline-block mx-1 my-auto text-white">bench coach</span>
    </a>
    <button class="navbar-toggler m-2 mx-4 p-0 d-none" data-bs-toggle="collapse" data-bs-target="#navcol-2">
        <span class="visually-hidden">Toggle navigation</span>
        <span class="navbar-toggler-icon m-1"></span></button>
    <div id="navcol-2" class="collapse navbar-collapse">
        <ul class="navbar-nav mx-2">
            <li class="nav-item"><a class="nav-link {{ events_tab }}" href="{% url 'event list' %}">Events</a></li>
            <li class="nav-item"><a class="nav-link {{ members_tab }}" href="{% url 'player list' %}">Members</a></li>
            <li class="nav-item"><a class="nav-link {{ opponents_tab }}" href="{% url 'team list' %}">Opponents</a></li>
            <li class="nav-item"><a class="nav-link {{ venues_tab }}" href="{% url 'venue list' %}">Venues</a></li>
        </ul>
        <span class="mx-auto"></span>
        <span class="navbar-text"></span>

    </div>

</nav>