{% load static %}
<nav class="navbar navbar-dark navbar-expand-lg mb-2" style="background: #323669">
    <a class="navbar-brand text-uppercase fw-bold mx-2 text-dark">
        <img class="d-inline-block" width="32" height="32" src="{% static 'benchcoach.svg' %}" />
        <span class="text-white">bench coach</span>
    </a>
    <button class="navbar-toggler mx-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
{% if user.is_authenticated %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-2">
            <li class="nav-item ">
                <a class="nav-link{% if request.resolver_match.url_name == 'home' %} active{% endif %} text-decoration-none" href="{% url 'home'%}">
                    <i class="bi bi-house-fill"></i>
                    <span class="">
                    Home
                </span>
                </a>
            </li>
            {#            <li class="nav-item">#}
            {#                <a class="nav-link{% if request.resolver_match.url_name == 'teamsnap_home' %} active{% endif %} text-decoration-none" href="{% url 'teamsnap_home'%}">#}
            {#                    <i class="bi bi-asterisk"></i>#}
            {#                    <span class="">#}
            {#                    Teamsnap#}
            {#                </span>#}
            {#                </a>#}
            {#            </li>#}
            <li class="nav-item">
                <a class="nav-link{% if request.resolver_match.url_name == 'teamsnap_schedule' %} active{% endif %} text-decoration-none" href="{% url 'teamsnap_schedule' team_id=request.user.profile.teamsnapsettings.managed_team.id%}">
                    <i class="bi bi-calendar-fill"></i>
                    <span class="">
                    Schedule
                </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link{% if request.resolver_match.url_name == 'teamsnap_choose_multiple_lineups' %} active{% endif %} text-decoration-none" href="{% url 'teamsnap_choose_multiple_lineups' team_id=request.user.profile.teamsnapsettings.managed_team.id%}?num=3">
                    <i class="bi bi-layout-three-columns"></i>
                    <span class="">
                    Multi-Lineup
                </span>
                </a>
            </li>

        </ul>
    </div>
{% endif %}
    </div>
</nav>