<div class="bg-dark h-100">
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a class="nav-link {{ events_tab }} text-white" href="{% url 'teamsnap_schedule' team_id=request.user.profile.teamsnapsettings.managed_team.id%}">
                <div class="d-flex flex-nowrap">
                    <i class="bi bi-calendar3"></i>
                    <span class="d-none d-print-inline-block d-sm-inline-block d-md-inline-block d-lg-inline-block d-xl-inline-block d-xxl-inline-block mx-1 my-auto text-white">
                    Schedule
                </span>
                </div>
            </a>
        </li>
    </ul>
</div>